  </main>
  <footer class="page-footer blue-grey darken-2">
    <div class="footer-copyright blue-grey darken-3">
      <div class="container">
        Made by <a href="https://github.com/NotSlacker" class="amber-text text-darken-2">NotSlacker</a>
        <span class="right">© 2020 <a href="https://github.com/NotSlacker/DoWithoutInk"
            class="amber-text text-darken-2">DoWithoutInk</a> - Github Project</span>
      </div>
    </div>
  </footer>
</body>

</html>